body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
}

.container {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.8);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  width: 80%;
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background-color: #885df1;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 29px;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

h1 {
  color: #1a64d6;
  font-size: 34px;
  margin: 0;
  line-height: 48px;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  line-height: 48px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}

li:hover {
  background: #fffbef;
}

p {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  font-family: monospace;
}

button {
  display: block;
  margin: 20px auto;
  padding: 16px 24px;
  color: #fff;
  background-color: #1a64d6;
  border: 1px solid #1a64d6;
  border-radius: 30px;
  line-height: 22px;
  font-size: 16px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button:hover {
  color: #1a64d6;
  border: 1px solid #1a64d6;
  background: white;
}
