body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: block;
  text-align: center;
}

h1 {
  color: #1a64d6;
  font-size: 34px;
  margin: 0;
  line-height: 48px;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  line-height: 48px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  max-width: 400px;
  margin: 0 auto;
}

li:hover {
  background: #fffbef;
}

p {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
  font-family: monospace;
}

button {
  display: block;
  margin: 20px auto;
  padding: 16px 24px;
  color: #fff;
  background-color: #1a64d6;
  border: 1px solid #1a64d6;
  border-radius: 30px;
  line-height: 22px;
  font-size: 16px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}

button:hover {
  color: #1a64d6;
  border: 1px solid #1a64d6;
  background: white;
}
